<div class="input-search form-group">
  <input class="searchTerm form-input" type="text" name="search-bar" placeholder="Search for Posts..." [(ngModel)]="searchText">
</div>
<div (scroll)="onScroll($event)" class="border-outer" #borderdiv>
<div class="item" style="padding: 10px;" *ngIf="news.length==0">
    <ngx-skeleton-loader count="8" appearance="circle"></ngx-skeleton-loader>
</div>
<div class="discusBox" *ngFor="let singleNews of news | filter:searchText" (click)="sendData(singleNews)">
 <div style="background-image: url({{singleNews.data.thumbnail}}); width: 15vh; height: 16vh; background-repeat: no-repeat;"></div>

 <div class="discusTitle">
   <h3>{{singleNews.data.title}}</h3> 
 </div> 

 <div class="discusBrief">
       

 </div>

 <div class="discusMeta">

   <div class="discusMetaPostedOn">
     <span>Posted on: </span>
     <span class="discusMetaPostedOnDate">
       {{singleNews.data.created | date:'dd/MM/yyyy'}}
     </span>
   </div>

   <div class="discusBy">
    <div class="icon"><i class="fa fa-user"></i>
     <b>
       <a href="https://www.reddit.com/user/{{singleNews.data.author}}" style="margin-left: 2px;" target="_blank">{{singleNews.data.author}}</a>
     </b>
     </div>
   </div>

   <div class="discussUp">
    <b>
      <div class="icon"><i class="fa fa-heart" style="color: red;"></i> {{singleNews.data.ups}}</div>
    </b>
  </div>

  <div class="discussUp">
    Sub-category: 
    <b>
     <a href="https://www.reddit.com/r/{{singleNews.data.subreddit}}" target="_blank"> {{singleNews.data.subreddit}}</a>
    </b>
  </div>

   <div class="discusLink">
     <a routerLink="/news-details/{{singleNews.data.id}}" (click)="sendData(singleNews)">View &rarr;</a>
   </div>
 </div>
</div>
<button (click)="toTopOfPage()" id="myBtn" title="Go to top" #b>Top</button>
</div>