.discusBox {
    border: #333 solid 1px;
    height: 135px;
    width: 130vh;
    position: relative;
    margin-bottom: 5px;
  }
  
  .discusTitle {
    line-height: 20px;
    padding-left: 6px;
    position: absolute;
    top: 0;
    left: 120px;
    width: 130vh;
    vertical-align: middle;
  }
  
  .discusTitle h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .discusBrief {
    height: 60px;
    width: 130vh;
    position: absolute;
    top: 40px;
    left: 120px;
    overflow: hidden;
  }
  .discusBrief p { padding-left: 6px; }
  
  .discusMeta {
    height: 30px;
    width: 115vh;
    position: absolute;
    top: 115px;
    left: 120px;
    font-size: 11px;
    line-height: 20px;
    vertical-align: middle;
  }
  
  .discusMetaPostedOn, .discusBy, .discussUp {
    display: inline;
    float: left;
  }

  .discussUp {
    margin-left: 10px;
  }
  
  .discusMetaPostedOn {
    padding-left: 6px;
    margin-right: 24px;
  }
  .discusMetaPostedOn p { margin-bottom: 0;}
  
  .discusLink {
    float: right;
    background-color: #2fb7e0; 
    width: 120px;
    text-align: center;
  }
  
  .discusLink a{
    color: #fff;
    text-decoration: none;
    display: block;
  }

  .border-outer {
    border: 2px solid #333;
    padding: 5px;
    overflow: scroll;
    height: 66vh;
    width: 130vh;
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .input-search {
    margin-bottom: 10px;
    padding: 4px;
    border: 2px solid black;
  }